<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${recommend.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">户型介绍：</label>
								<div class="col-sm-8">
									<input id="houseType" name="houseType" th:value="${recommend.houseType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">简介：</label>
								<div class="col-sm-8">
									<input id="houseAbstract" name="houseAbstract" th:value="${recommend.houseAbstract}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">位置：</label>
								<div class="col-sm-8">
									<input id="location" name="location" th:value="${recommend.location}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">价格：</label>
								<div class="col-sm-8">
									<input id="price" name="price" th:value="${recommend.price}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/rent/recommend/edit.js">
	</script>
</body>
</html>
