<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.blog.dao.CommentDao">

	<select id="get" resultType="com.bootdo.blog.domain.CommentDO">
		select `id`,`blog_id`,`comment`,`create_user_id`,`create_user_name`,`create_time` from blog_comment where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.blog.domain.CommentDO">
		select `id`,`blog_id`,`comment`,`create_user_id`,`create_user_name`,`create_time` from blog_comment
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="blogId != null and blogId != ''"> and blog_id = #{blogId} </if>
		  		  <if test="comment != null and comment != ''"> and comment = #{comment} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createUserName != null and createUserName != ''"> and create_user_name = #{createUserName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from blog_comment
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="blogId != null and blogId != ''"> and blog_id = #{blogId} </if>
		  		  <if test="comment != null and comment != ''"> and comment = #{comment} </if>
		  		  <if test="createUserId != null and createUserId != ''"> and create_user_id = #{createUserId} </if>
		  		  <if test="createUserName != null and createUserName != ''"> and create_user_name = #{createUserName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.blog.domain.CommentDO" useGeneratedKeys="true" keyProperty="id">
		insert into blog_comment
		(
			`blog_id`, 
			`comment`, 
			`create_user_id`, 
			`create_user_name`, 
			`create_time`
		)
		values
		(
			#{blogId}, 
			#{comment}, 
			#{createUserId}, 
			#{createUserName}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.blog.domain.CommentDO">
		update blog_comment 
		<set>
			<if test="blogId != null">`blog_id` = #{blogId}, </if>
			<if test="comment != null">`comment` = #{comment}, </if>
			<if test="createUserId != null">`create_user_id` = #{createUserId}, </if>
			<if test="createUserName != null">`create_user_name` = #{createUserName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from blog_comment where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from blog_comment where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>