<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.blog.dao.VoteDao">

	<select id="get" resultType="com.bootdo.blog.domain.VoteDO">
		select `id`,`user_id`,`user_name`,`create_time`,`blog_id` from blog_vote where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.blog.domain.VoteDO">
		select `id`,`user_id`,`user_name`,`create_time`,`blog_id` from blog_vote
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="blogId != null and blogId != ''"> and blog_id = #{blogId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from blog_vote
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="blogId != null and blogId != ''"> and blog_id = #{blogId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.blog.domain.VoteDO" useGeneratedKeys="true" keyProperty="id">
		insert into blog_vote
		(
			`user_id`, 
			`user_name`, 
			`create_time`, 
			`blog_id`
		)
		values
		(
			#{userId}, 
			#{userName}, 
			#{createTime}, 
			#{blogId}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.blog.domain.VoteDO">
		update blog_vote 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="blogId != null">`blog_id` = #{blogId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from blog_vote where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from blog_vote where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>