<footer class="footer" th:fragment="rentFooter">

<div class="container">

<div class="row">
            <div class="col-lg-3 col-sm-3">
                   <h4>信息</h4>
                   <ul class="row">
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/rent/about">关于我们</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/rent/agents">经纪人</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/rent/blog">部落</a></li>
                <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/rent/contact">联系我们</a></li>
              </ul>
            </div>
            
            <div class="col-lg-3 col-sm-3">
                    <h4>最新信息</h4>
                    <p>Get notified about the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form">
                            <input type="text" placeholder="Enter Your email address" class="form-control">
                                <button class="btn btn-success" type="button">Notify Me!</button></form>
            </div>
            
            <div class="col-lg-3 col-sm-3">
                    <h4>关注我们</h4>
                    <a href="#"><img class="img-circle" style="width: 50px;height: 50px;" src="/images/weixin.jpg" alt="facebook"></a>
                    <a href="#"><img class="img-circle" style="width: 50px;height: 50px;" src="/images/qq.jpg" alt="twitter"></a>
                    <a href="#"><img class="img-circle" style="width: 50px;height: 50px;" src="/images/weibo.jpg" alt="linkedin"></a>
                    <!--<a href="#"><img class="img-circle" style="width: 50px;height: 50px;" src="/images/instagram.png" alt="instagram"></a>-->
            </div>

             <div class="col-lg-3 col-sm-3">
                    <h4>联系我们</h4>
                    <p><b id="company_name">Bootstrap Realestate Inc.</b><br>
<span class="glyphicon glyphicon-map-marker">&nbsp;</span><span id="company_address">8290 Walk Street, Australia </span><br>
<span class="glyphicon glyphicon-envelope">&nbsp;</span><span id="company_mail">hello@bootstrapreal.com</span><br>
<span class="glyphicon glyphicon-earphone">&nbsp;</span><span id="company_tel">(123) 456-7890</span></p>
            </div>
        </div>
<p class="copyright" style="text-align: center;">Copyright 2018. All rights reserved.	</p>


</div></footer>



