<!DOCTYPE html>
<html lang="en">
<head th:replace="/rent/header::rentHeader"></head>
<body>
<div th:replace="/rent/naver::naver"></div>
<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="/rent">主页</a> / 注册</span>
    <h2>注册</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer">
<div class="row register">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="float: right">
        <span>上传头像</span>
        <img src="" id="easyRentUserImg" style="height: 80%;width: 100%;border: #2aabd2"/>
        <input type="file" id="easyRentUserImgFile"/>
    </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 ">
        <form id="signupForm" class="form-horizontal">
            <div class="form-group" hidden="hidden">
                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">picId：</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 control-label">
                    <input type="text" class="form-control" placeholder="picId" name="picId" id="picId">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span style="color: red;">*</span>用户名：</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 control-label">
                    <input type="text" class="form-control" placeholder="用户名" name="username" id="username">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span style="color: red;">*</span>手机：</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 control-label">
                    <input type="text" class="form-control" placeholder="手机" name="mobile" id="mobile">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span style="color: red;">*</span>密码：</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 control-label">
                    <input type="password" class="form-control" placeholder="密码" name="password" id="password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span style="color: red;">*</span>确认密码：</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 control-label">
                    <input type="password" class="form-control" placeholder="确认密码" name="confirmPassword" id="confirmPassword">
                </div>
            </div>
            <button type="submit" class="btn btn-success" onclick="save()">注册</button>
        </form>
  </div>
  
</div>
</div>
</div>
<div  th:replace="/rent/login::login"></div>
<script type="text/javascript" src="/js/appjs/rent/register.js"></script>
<footer th:replace="/rent/footer::rentFooter"></footer>
</body>
</html>