<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top" ></nav>
	<!-- Page Header -->
	<header class="intro-header"
		style="background-image: url('/img/blog/post-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1 th:text="${bContent.title}"></h1>
						<span class="meta">作者 <a href="#"
							th:text="${bContent.author}"></a>&nbsp;&nbsp;<a href="#"
							th:text="${#dates.format(bContent.gtmModified,'yyyy-MM-dd HH:mm:ss')}"></a>
							<a id="blogId" th:text="${bContent.cid}" hidden="hidden"></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-sm-11">
					<div id="content" class="summernote"></div>
				</div>
			</div>

			<div class="row">
				<div class="card-block">
					<h4 style="text-align: left;">评论：</h4>
					<div class="row">
						<div class="col-lg-11 col-md-11 col-sm-11 ">
							<textarea class="blog-textarea" style="width: 100%;height: 100px;" placeholder="看帖需留言~" id="commentContent"></textarea>
						</div>
					</div>
					<div class="row">
						<button class="btn btn-primary float-right" id="submitComment" onclick="saveComment()">发表评论</button>
						<button class="btn btn-primary float-right"  id="submitVote" onclick="submitVote()">点赞</button>
						<button class="btn btn-primary float-right"  id="cancelVote" onclick="cancelVote()">取消点赞</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card-block" id="mainContainer">
					<div class="row" id="mainContainerRepleace" th:each="comment,commentStat : ${comments}">
						<h2 class="card-title col-lg-1 col-md-2">
							<span>
			                  <a href="/u/waylau" th:href="'/u/'+ *{comment.createUserName}" title="waylau" th:title="*{comment.createUserName}">
			                    <img src="/images/avatar-defualt.jpg" th:src="${comment.picUrl}!=null?${comment.picUrl}:@{/img/blog/post-sample-image.jpg}"  style="border-radius: 50%;height: 50px;width: 50px;">
			                  </a>
					        </span>
						</h2>
						<div class="card-text col-lg-11 col-md-10">
							<a th:text="${comment.rownum}"></a>楼
							<a href="/u/waylau" th:href="'/u/'+ *{comment.createUserName}" class="card-link" th:text="*{comment.createUserName}">waylau</a>
							<a th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm:ss')}"></a>
							<!--<a href="javascript:void(0)" class="blog-delete-comment" th:if="${commentOwner} eq *{comment.createUserName}" th:attr="commentId=*{id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
							<p th:text="*{comment.comment}">不错哦，顶起！</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</article>
	<hr>
	<div th:include="blog/index/include_blog::footer"></div>
	<script type="text/javascript" th:inline="javascript">
        $().ready(function() {
            //检查是否点赞 true-有点赞
            var ifVote = /*[[${ifVote}]]*/
                if(ifVote){
                    $("#submitVote").hide();
                }else{
                    $("#cancelVote").hide();
                }
            $('.summernote').summernote({
                lang : 'zh-CN'
            });
            var content = /*[[${bContent.content}]]*/
                $('#content').code(content);
            $('.summernote').destroy();
        });
	</script>
	<script type="text/javascript" src="/js/appjs/blog/index/post.js"></script>
	<div id="newComment"></div>
</body>
</html>
